<ul class="nav {{class}}" role="menu">
    {{#foreach navigation}}
    <li class="{{link_class for=(url) class=(concat "nav-" slug)}}" role="menuitem">
        <a href="{{url absolute="true"}}">{{label}}</a>
    </li>
    {{/foreach}}
</ul>
